nav ul li{
    display: inline;
    font-size: 12px;
    padding-right: 13px;
   
}

li a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

img{
    width:98vw;
   border: 1px grey solid;
}

.responsive{
    max-width: 100%;
}

Header{
    background-color:#2e384e;    
    width:100vw;
    color: white;
    float: left;
    height: 20vh;
}

.threeCol{
    /* git */
    margin:0 1vw;
    width:30vw;
    flex-basis: space-between;
}

.container{
  display: flex;
  height: auto;
 
}

.twoCol{
    margin:0 1vw;
    flex-basis: space-between;
    padding-right: 5vw;
}

.dvclear{
    clear:both;
}
body{
    margin : 0;
    width:100vw;
    font-family: sans-serif;
}

footer{
    background-color: #2e384e;
    height: 30vh;
}

h2,h3,h4{
    font-weight: 800;
    font-size: 24px;
    font-family: inherit;
    color:inherit;
    text-decoration: underline;

   
}

.button{
    width:80vw;
    height:20vh;
    border-width:2px;
    border:2px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    vertical-align:center;
    background-color: transparent;
    border-color: #2e384e;
    color:#2e384e;
}

ul li{
    text-decoration: none;
    list-style-type:none;
 
}


@media screen and (max-width: 700px) {
    .container{
        flex-direction: column;
    }

    .threeCol{
        width:100vw;
    }

    .twoCol{
        padding-right: 0;
    }
 
}


 