form li{
    list-style: none;
    margin-bottom: 10px;
}

form ul{
    padding-left: 0px;
}

label{
    display: block;
}
body{
font-family: sans-serif;
}
textarea{
    height:300px;
    width:200px;
}