.wrap{
    width:auto;
    margin :auto;
    background-color: aquamarine;
}

.content{
    width:80%;
    background-color: bisque;
    float: left;
}
aside{
    width:20%;
    background:brown;
    float: left;
}
aside ul{
    list-style: none;
    padding-left: 0;
}

.content,aside{
    height: 400px
}